%h1 About
= image_tag "main_keyvi.jpg"
%article
  %h3 A World-Class Company
  %p From our beginnings as a small trading company, Samsung has evolved to a world-class corporation with businesses that span advance technology, semiconductors, skyscraper and plant construction, petrochemical, fashion, medicine, finance, hotels and more. Our discoveries, inventions and breakthrough products have allowed us to be a leader in these fields, constantly pushing the industries forward.
%article
  %h2 Bettering Everyday Experiences
  = image_tag "main_cont_01.jpg"
  %p From our innovations in consumer electronics to our developments in biopharmaceuticals, Samsung shares impactful experiences each day with people around the globe. Through our devotion to create superior products and services across all areas of our business, we strive to enhance the lives of people everywhere and bring positive change to the world around us.
