%h1 Thank you for emailing samsung
%aside
  %p
    Your query has been sent to the relevant department and will be
    = succeed "dealt" do
      %br/
    with as soon as possible.
    %br/
    In the meantime, why not check out the following links:
