<h1>Thank you for emailing samsung</h1>
<aside>
	<p>Your query has been sent to the relevant department and will be <br>dealt with as soon as possible.<br>
In the meantime, why not check out the following links:</p>
</aside>

